@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Main Styling */
html,
body {
	font-family: 'Montserrat', sans-serif;
	background: #024454;
	color: #fff;
}

header {
	background: url('/images/background.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* Bootstrap Styling */
.btn-primary {
	background: #f5ce65;
	border: 0;
}

.btn-primary:hover {
	background: #fca857;
}

.border-primary {
	border-color: #f5ce65 !important;
}

/* Utility Classes */
.py-6 {
	padding: 80px 0;
}

.border-6 {
	border-width: 10px !important;
}
